@charset "utf-8";

img, object, embed, video {
	max-width: 100%;
	/*float: left;*/
	margin-right: 10px;
}

#ulotka {
    background-color: #9abe3d;
    color:white;
    clear:both;
    padding:5px;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

.fluid {
	clear: both;
	margin-left: 10px;
	margin-right: 10px;
	width: 98%;
	float: left;
	display: block;
	font-family: "Calibri","sans-serif";
	line-height: 100%;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
}
.zeroMargin_mobile {
    margin-left: 0;
}
.hide_mobile {
    display: none;
}

/* Tablet: 481px to 768px. Inherits styles from: Mobile */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}
.zeroMargin_tablet {
    margin-left: 0;
}
.hide_tablet {
    display: none;
}
}

/* Desktop : 769px to a max of 1232px.  Inherits styles from: Mobile  and Tablet . */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 88.5%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
.zeroMargin_desktop {
    margin-left: 0;
}
.hide_desktop {
    display: none;
}
}

body {
	/* background-image: url(background.png); */
	background-position: top left;
	background-attachment: fixed;
	background-repeat: no-repeat;
	z-index:2;
	}
h1,h2,h3,h4,h5,h6 {
	font-family: "Calibri","sans-serif";
	
}
h1 {
	font-size: 26px;
	color: #83B330;
}
h2 {
	font-size: 18px;
	color: #83B330;
}
h3 {
	font-size: 14px;
	color: #6B9547;
}
body,td,th {
	font-family: "Calibri","sans-serif";
	line-height: 100%;
}
h6 {
	font-size: 12px;
	color: #666;
}


#navi{
    position:fixed;
    /* background:red; */
    left:50px;
    top:20px;
    height:110px;
    z-index:3;
}

#top{
	position:fixed;
    background-image: url(background1.png);
	background-repeat: no-repeat;
    left:0px;
    top:0px;
    height:110px;
    width: 100%;
	z-index:2;
}

#wstep{
	margin-top: 40px;
	margin-bottom: 10px;
}

#wyk{
	font-color: red;
	color: red;
	position:fixed;
	left: 150px;
}
/* html {
	background-image: url(background.png);
	background-position: bottom left;
	background-attachment: fixed;
	background-repeat: no-repeat;
	} */